<div class="sponsor-container">
  <%= image_tag 'sponsor_banner', style: 'width: 100%; opacity: 1' %>
  <h1 class="sponsor-centered">About Us</h1>
</div>

<div class="ui container" style='margin-top: 5vh;'>
  <div class="ui grid middle aligned" style="margin-top: 10vh; margin-bottom: 10vh;">
    <div class="eight wide column">
      <%= image_tag 'about_us_2.jpg',  class: 'ui medium rounded centered image' %>
    </div>
    <div class="eight wide column">
      <div id='general-description' class='general-description ui stacked very padded segment'>
        Solar Gators is a <strong>University of Florida student organization</strong> driven by passionate, eco-minded student engineers and designers. We are committed to designing, building, and racing a successful solar-powered vehicle that competes in the Formula Sun Grand Prix and the American Solar Challenge in 2019. Along the way, we aim to raise sustainability awareness amongst our peers, our community, and our world.
      </div>
    </div>
  </div>
  <div class="ui grid middle aligned" style="margin-top: 10vh; margin-bottom: 10vh;">
    <div class="eight wide column">
      <div id='general-description' class='general-description ui stacked very padded segment'>
        Our team was originally founded in 2012 with goals of racing in the summer of 2014.<br /> <br />A new group of UF students inherited the vestiges in the fall of 2016 with a goal of racing the following summer and did not fully realize their goals until a large donation from a sponsor six weeks out from competition.
      </div>
    </div>
    <div class="eight wide column">
      <%= image_tag 'event_1.jpg',  class: 'ui medium rounded centered image' %>
    </div>
  </div>
  <div class="ui grid middle aligned" style="margin-top: 10vh; margin-bottom: 10vh;">
    <div class="eight wide column">
      <%= image_tag 'about_us_1.JPG',  class: 'ui medium rounded centered image' %>
    </div>
    <div class="eight wide column">
      <div id='general-description' class='general-description ui stacked very padded segment'>
        The team aims to support the goals of the Herbert Wertheim College of Engineering by helping graduates meet the expectations of employers and by helping qualified graduates pursue advanced study through developing hands-on-applicable-skills within a solar race car design team.
      </div>
    </div>
  </div>
  <!-- <div class="ui horizontal divider">
    MORE ABOUT US
  </div>
  <div class="ui grid middle aligned" style="margin-top: 2vh; margin-bottom: 2vh;">
    <div class="ui horizontal segments">
      <div class="ui segment">
        <p>Test</p>
      </div>
      <div class="ui segment">
        <p>Test</p>
      </div>
      <div class="ui segment">
        <p>Test</p>
      </div>
    </div>
  </div> -->
</div>
