<div class="sponsor-container">
  <%= image_tag 'sponsor_banner', style: 'width: 100%; opacity: 1' %>
  <h1 class="sponsor-centered">Contact Us</h1>
</div>

<div class="ui container" style='margin-top: 10vh; margin-bottom: 10vh;'>
  <div class="ui grid">
    <div class="ui row">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <div class="ui raised orange segment">
          <div class="ui form">
            <div class="field">
              <label>Your name</label>
              <input type="text" placeholder="Name">
            </div>
            <div class="field">
              <label>Your email</label>
              <input type="text" placeholder="First Name">
            </div>
            <div class="field">
              <label>Your message</label>
              <div class="field">
                <textarea rows="2"></textarea>
              </div>
            </div>
            <div class="ui primary button">Submit</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
