<div class="sponsor-container">
  <%= image_tag 'sponsor_banner', style: 'width: 100%; opacity: 1' %>
  <h1 class="sponsor-centered">Sponsorship Opportunities</h1>
</div>


<div class="ui grid">
  <div class="ui row" style='margin-top: 10vh;'>
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui grid">
      <ui class="row">
        <div class="ui two wide column"></div>
        <div class="ui twelve wide column">
          <h1 class="ui dividing header" style='opacity: 0.8'>
            About the Organization
          </hq>
        </div>
      </ui>
      <div class="ui row">
        <div class="ui two wide column"></div>
        <div class="ui six wide column">
          <p class="regular-text">
            Solar Gators is a 501(c)(3) nonprofit organization. We have sponsorship tiers available, but appreciate any contribution to the organization. Contributions online are general use and permit the club to continue constructing the car and working towards our goal of competitions. Please note that if making an online contribution, you will be redirected to the University of Florida website to complete your gift. On the university's donation page, please be sure to mention "Solar Gators" in the comment box. If you would prefer to make a contribution by check, or have something else to give, please follow the links below. Tax forms are available upon request. </div>
          </p>
          <div class="ui six wide column">
            <%= image_tag 'sponsorship-levels', style: 'width: 100%; opacity: 1' %>
          </div>
      </div>
      <div class="ui row centered">
        <div class="fourteen wide column"><div class="ui fluid divider"></div></div>
      </div>
      <div class="ui row centered">
        <div class="ui centered grid">
            <div class="four wide column" style="margin: 1vw;">
              <div class="ui row centered">
                <%= link_to 'https://www.uff.ufl.edu/OnlineGiving/FundDetail.asp?FundCode=003911&AppealCode=GESWQA1' do %>
                  <button class="circular orange ui icon massive button"><i class="icon credit card"></i></button>
                <% end %>
              </div>
              <div class="ui row centered">
                <p style="font-size: 1.15em; opacity: 0.8; width: 100%; text-align: center !important; margin: 4px;">Donate online</p>
              </div>
            </div>
            <div class="four wide column" style="margin: 1vw;">
              <div class="ui row centered">
                <%= link_to 'https://www.uff.ufl.edu/OnlineGiving/FundDetail.asp?FundCode=003911&AppealCode=GESWQA1' do %>
                  <button class="circular orange ui icon massive button"><i class="icon credit card"></i></button>
                <% end %>
              </div>
              <div class="ui row centered">
                <p style="font-size: 1.15em; opacity: 0.8; width: 100%; text-align: center !important; margin: 4px;">Donate by Check</p>
              </div>
            </div>
        </div>
      </div>
      <div class="ui row centered">
        <div class="fourteen wide column"><div class="ui fluid divider"></div></div>
      </div>
    </div>
  </div>
  </div>
</div>
