
<div class="ui doubling stackable grid first-section" style='height: 100vh'>
  <div class="ui row">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <h1 class="ui left aligned header" style="margin-top: 25vh; font-size: 9em; color: white;">Solar Gators</h1>
    <p class="ui left aligned header" style="font-weight: lighter; font-size: 1.2em; color: white">University of Florida student organization driven by passionate engineers</p>
  </div>
  </div>
</div>

<div class="ui doubling stackable grid" style='background-color: #f1f1ef; height: 50vh'>
  <div class="ui row">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui raised segment">
      <h1 class="ui center aligned header" style="margin-top: 5vh; font-size: 2.5em; color: #e0722f;">who are we</h1>
    </div>
  </div>
  </div>
</div>
