<div class="sponsor-container">
  <%= image_tag 'sponsor_banner', style: 'width: 100%; opacity: 1' %>
  <h1 class="sponsor-centered">The Team</h1>
</div>

<div class="ui container">
  <div class="ui centered grid">
    
    <div class="ui row">
      <div class="ui three wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
          </div>
          <div class="content">
            <a class="header">Vrushank Desai</a>
            <div class="meta">
              <span class="date">Member since 2016</span>
            </div>
            <div class="description">
              Vrushank is an engineering student
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <strong>President</strong>
            </div>
          </div>
      </div>
      </div>
      <div class="ui three wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
          </div>
          <div class="content">
            <a class="header">Vrushank Desai</a>
            <div class="meta">
              <span class="date">Member since 2016</span>
            </div>
            <div class="description">
              Vrushank is an engineering student
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <strong>President</strong>
            </div>
          </div>
      </div>
      </div>
      <div class="ui three wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
          </div>
          <div class="content">
            <a class="header">Vrushank Desai</a>
            <div class="meta">
              <span class="date">Member since 2016</span>
            </div>
            <div class="description">
              Vrushank is an engineering student
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <strong>President</strong>
            </div>
          </div>
      </div>
      </div>
    </div>
</div>
