/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import "semantic-ui/collections/menu";

@font-face {
    font-family: 'radnika';
    src: font-url('radnika-medium-webfont.woff2') format('woff2'),
         font-url('radnika-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.first-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(/assets/img2.jpg), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sponsor-container {
  display: flex;
  position: relative;
  align-items: center;
}

/* Centered text */
.sponsor-centered {
  color: #fff;
  text-align: center;
  width: 100vw;
  opacity: 0.9;
  text-shadow: 2px 2px grey;
  font-size: 5em;
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.regular-text {
  font-size: 1.2em;
  line-height: 28px;
}
