<div class="ui grid" style='margin-top: 10vh;' style='background: #202121'>
  <div class="ui container fluid" style="background: #202121; padding-top: 8vh; padding-left: 20vh; padding-right: 20vh;">
    <div class="ui grid">
      <div class="ui row">
        <div class="four wide column" style="margin-left: 0vw;">
          <h1 class="ui left header" style='color: white'>UF Solar Gators</h1>
        </div>
        <div class="four wide column"></div>
        <div class="four wide column">
          <h3 class="ui left header" style='color: white'>Connect</h3>
        </div>
        <div class="four wide column">
          <h3 class="ui left header" style='color: white'>Support us</h3>
        </div>
      </div>
      <div class="ui row">
        <div class="six wide column">
          <button class="ui big circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui big circular twitter icon button">
            <i class="twitter icon"></i>
          </button>
          <button class="ui big circular instagram icon button">
            <i class="instagram icon"></i>
          </button>
        </div>
        <div class="two wide column"></div>
        <div class="four wide column" style='margin-top: -3vh;'>
          <h5 class="ui header left" style='color:white; opacity: 0.8'>Contact us<br />Join us</h5>
        </div>
        <div class="four wide column" style='margin-top: -3vh;'>
          <h5 class="ui header left" style='color:white; opacity: 0.8'>Donate<br />Sponsor us</h5>
        </div>
      </div>
    </div>
    <h4 class="ui horizontal inverted divider header" style='margin-top: 5vh;'>
      <i class="certificate icon"></i>
      Our Sponsors
    </h4>
    <%= image_tag 'sponsors.png' %>
  </div>
</div>
