
<div class="ui menu borderless" style="-webkit-transition-duration: 0.1s; margin: 0;">
  <div class="item">
    <%= image_tag 'logo.png' %>
  </div>
  <%= link_to 'Solar Gators', root_path, class: 'item' %>
  <a class="item">About us</a>
  <a class="item">Events</a>
  <%= link_to 'Sponsors', sponsors_path, class: 'item' %>
  <div class="ui dropdown item">
    The Team<i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">English</a>
      <a class="item">Russian</a>
      <a class="item">Spanish</a>
    </div>
  </div>

  <div class="right menu">
    <div class="item">
      <div class="ui orange button">
        <i class="envelope open icon"></i>
        Contact
      </div>
    </div>
    <div class="item">
      <div class="ui blue button">
        <i class="flag checkered icon"></i>
        Join
      </div>
    </div>
  </div>
</div>
